.roboto
{
    font-family: 'Roboto', sans-serif;
    color: indianred;
}

.navbar-default {
    background-color: antiquewhite;
    border-color: #E7E7E7;
}


.bg{
    background-image: linear-gradient(to right, #22c1c3, #fdbb2d);

}

.form_bg{
    padding: 10%;
    border: 1px ridge gray;
}

.form2_bg{
    padding: 10%;
    border: 2px ridge gray;

}

.form3_bg{
    padding: 10%;
    border: 2px ridge gray;
}

.home_title{
    font-size: 8em;
    color: saddlebrown;
    text-align: center;
}


.show_bg{
    padding: 10%;
}

.labelst{
    text-align: right;
    font-size: medium;

}

.inputst{
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: medium;
}
.submitst {
    margin-top: 2em;
    margin-bottom: 2em;
}

.tspan{
    color: darkblue;
}

.table_h3{
    font-size: large;
    font-style: italic;
    color: darkblue;
    text-align: center;
    margin-bottom: 10px;
}